<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>routes</key>
	<array>
		<dict>
			<key>title</key>
			<string>XC route</string>
			<key>detail</key>
			<string>Expert mountain bike users,\n used to physically demanding routes. Quality off-road mountain bikes.</string>
			<key>icon</key>
			<string>red_icon.png</string>
			<key>jsonFile</key>
			<string>xc</string>
			<key>color</key>
			<integer>0</integer>
			<key>locationsStringArrayNameAttr</key>
			<string>red_inners_loc_</string>
			<key>elevationsStringArrayNameAttr</key>
			<string>inners_xc</string>
		</dict>
	</array>
</dict>
</plist>
