<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>routes</key>
	<array>
		<dict>
			<key>title</key>
			<string>Green Route (Easy)</string>
			<key>detail</key>
			<string>Beginner/novice cyclists. Basic bike skills required. Most bikes and hybrids. Some green routes can take trailers.</string>
			<key>icon</key>
			<string>green_icon.png</string>
			<key>jsonFile</key>
			<string>xc</string>
			<key>color</key>
			<string>red</string>
			<key>locationsStringArrayNameAttr</key>
			<string>red_inners_loc_</string>
			<key>elevationsStringArrayNameAttr</key>
			<string>inners_xc</string>
		</dict>
        <dict>
            <key>title</key>
            <string>Downhill Routes</string>
            <key>detail</key>
            <string>Downhill Park, Riders aspiring to athlete level of technical ability, incorporates everything from full on downhill riding to big-air jumps.</string>
            <key>icon</key>
            <string>orange_icon.png</string>
            <key>jsonFile</key>
            <string>downhill</string>
            <key>color</key>
            <string>orange</string>
            <key>locationsStringArrayNameAttr</key>
            <string>inners_downhill_loc_</string>
            <key>elevationsStringArrayNameAttr</key>
            <string>inners_downhill</string>
        </dict>
	</array>
    
</dict>
</plist>
