<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>routes</key>
	<array>
		<dict>
			<key>title</key>
			<string>Green Route test (Easy)</string>
			<key>detail</key>
			<string>Beginner/novice cyclists. Basic bike skills required. Most bikes and hybrids. Some green routes can take trailers.</string>
			<key>icon</key>
			<string>green_icon.png</string>
			<key>jsonFile</key>
			<string>green</string>
			<key>color</key>
			<string>green</string>
			<key>locationsStringArrayNameAttr</key>
			<string>green_loc_</string>
			<key>elevationsStringArrayNameAttr</key>
			<string>green</string>
            <key>routeInfo</key>
            <string><![CDATA[<b>Grade:</b> Green &mdash; Easy<br/><b>Distance</b>: 3.5K &mdash; 4.5Km <br/><b>Singletrack</b>: 30% &mdash; 60%<br/><b>Estimated Time</b> To Ride: 30 mins &mdash; 1 hr ]]></string>
		</dict>
        <dict>
            <key>title</key>
            <string>Blue Route (Moderate)</string>
            <key>detail</key>
            <string>Intermediate cyclist/mountain bikers with basic offroad riding skills. Mountain bikes and hybrids.</string>
            <key>icon</key>
            <string>blue_icon.png</string>
            <key>jsonFile</key>
            <string>blue</string>
            <key>color</key>
            <string>blue</string>
            <key>locationsStringArrayNameAttr</key>
            <string>blue_loc_</string>
            <key>elevationsStringArrayNameAttr</key>
            <string>blue</string>
            <key>routeInfo</key>
            <string><![CDATA[<b>Grade:</b> Blue &mdash; Moderate <br/><b>Distance</b>: 8Km Lower Loop (recommended). Upper Loop adds 8Km. 16Km total.<br/><b>Singletrack</b>: 80% for Lower Loop 60% for Upper Loop<br/><b>Estimated Time</b>: 1 &mdash; 2 hrs for each loop ]]></string>
        </dict>
        <dict>
            <key>title</key>
            <string>Red Route (Difficult)</string>
            <key>detail</key>
            <string>Proficient mountain bikers with good off-road riding skills. Suitable for better quality off-road mountain bikes.</string>
            <key>icon</key>
            <string>red_icon.png</string>
            <key>jsonFile</key>
            <string>red</string>
            <key>color</key>
            <string>red</string>
            <key>locationsStringArrayNameAttr</key>
            <string>red_loc_</string>
            <key>elevationsStringArrayNameAttr</key>
            <string>red</string>
            <key>routeInfo</key>
            <string><![CDATA[<b>Grade:</b> Red &mdash; Difficult<br/><b>Distance</b>: 18Km<br/><b>Singletrack</b>: 65%<br/><b>Estimated Time</b>: 1.5 &mdash; 3 hrs]]></string>
        </dict>
        <dict>
            <key>title</key>
            <string>Black Route (Severe)</string>
            <key>detail</key>
            <string>Expert mountain bike users, used to physically demanding routes. Quality off-road mountain bikes.</string>
            <key>icon</key>
            <string>black_icon.png</string>
            <key>jsonFile</key>
            <string>black</string>
            <key>color</key>
            <string>black</string>
            <key>locationsStringArrayNameAttr</key>
            <string>black_loc_</string>
            <key>elevationsStringArrayNameAttr</key>
            <string>black</string>
            <key>routeInfo</key>
            <string><![CDATA[<b>Grade:</b> Black &mdash; Severe <br/><b>Distance</b>: 29Km<br/><b>Singletrack</b>: 75%<br/><b>Estimated Time</b>: 3 &mdash; 5 hrs]]></string>
        </dict>
        <dict>
            <key>title</key>
            <string>Bike Park (Extreme)</string>
            <key>detail</key>
            <string>Bike Park, Riders aspiring to athlete level of technical ability, incorporates everything from full on downhill riding to big-air jumps.</string>
            <key>icon</key>
            <string>orange_icon.png</string>
            <key>jsonFile</key>
            <string>bike_park</string>
            <key>color</key>
            <string>orange</string>
            <key>locationsStringArrayNameAttr</key>
            <string>bike_park_loc_</string>
            <key>elevationsStringArrayNameAttr</key>
            <string>green</string>
            <key>routeInfo</key>
            <string><![CDATA[<b>Grade:</b> Orange &mdash; Extreme  ]]></string>
        </dict>
        <dict>
            <key>title</key>
            <string>Green Skills Area (Easy)</string>
            <key>detail</key>
            <string>Beginner/novice cyclists. Basic bike skills required. Most bikes and hybrids. Some green routes can take trailers.</string>
            <key>icon</key>
            <string>green_icon.png</string>
            <key>jsonFile</key>
            <string>green_skills</string>
            <key>color</key>
            <string>green</string>
            <key>locationsStringArrayNameAttr</key>
            <string>bike_park_loc_</string>
            <key>elevationsStringArrayNameAttr</key>
            <string>green</string>
            <key>routeInfo</key>
            <string><![CDATA[<b>Grade:</b> Green &mdash; Easy<br/><b>Distance</b>: 1.5K <br/><b>Singletrack</b>: 100%<br/><b>Estimated Time</b> To Ride: ]]></string>
        </dict>

	</array>
    
</dict>
</plist>
